@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 60vh;
  width: 90vw;
  transform: translate(-50%, -50%);
  background-color: #dfdddd;
  border-radius: 5px;
  z-index: 1000;
  padding: 2rem;
  overflow: scroll;
  display: none;

  .c-text {
    color: unset;
    filter: unset;
  }

  &--small {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dfdddd;
    border-radius: 5px;
    z-index: 1000;
    padding: 2rem;
    display: none;
  }

  &__button-open {
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }

  &__button-close {
    display: none;
  }

  &__message-close {
    position: fixed;
    font-size: 2rem;
    font-weight: bold;
    top: 90%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: v.$BackgroundWhite;
    border-radius: 20rem;
    cursor: pointer;
    z-index: 1000;
    display: none;

    &::before {
      content: "\f00d";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 2.5rem;
      position: fixed;
      left: -30px;
      top: -4px;
    }
  }
}