.p-page-top {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 700;

  &.is-bright {
    background: url($base-dir + 'assets/images/inoshishi_run1_negate.png') no-repeat center / contain;
  }

  &.is-dark {
    background: url($base-dir + 'assets/images/inoshishi-run1.png') no-repeat center / contain;
  }

  .is-bright,
  .is-dark {
    /*aタグの形状*/
    display: block;
    width: 100px;
    height: 100px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;

    /*背景画像の指定*/
    &::after {
      position: absolute;
      content: "";
      width: 90PX;
      background-color: #000;
      opacity: 0.8;
      height: 20PX;
      border-radius: 50%;
      top: 65PX;
      left: 5PX;
      filter: blur(5px);
    }
  }

  /*Page Topと書かれたテキストの位置*/
  span {
    position: absolute;
    bottom: 15px;
    right: 25px;
    z-index: 1;
    color: #fff;
  }
}

/*　下に下がる動き　*/
.p-page-top.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
  animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(150px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(150px);
  }
}

.p-page-top.floatAnime {
  width: 100px;
  height: 130px;
  /*背景画像の指定*/
  background-size: contain;
  /*アニメーションの指定*/
  animation: floatAnime 0.20s infinite;

  a::after {
    animation: floatShadow 0.20s infinite;
  }

  span {
    bottom: 15px;
  }
}

.p-page-top.floatAnime {
  background-image: url($base-dir + 'assets/images/inokichi.gif');
}
.p-page-top.is-dark.floatAnime {
  background-image: url($base-dir + 'assets/images/inokichiDark.gif');
}

@keyframes floatShadow {
  0% {
    width: 90px;
    top: 95px;
  }
  1% {
    top: 98px;
  }

  19% {
    width: 90px;
  }

  20% {
    width: 80px;
    height: 15px;
    left: 12px;
  }

  90% {
    width: 80px;
    height: 15px;
    left: 12px;
    top: 98px;
  }

  100% {
    width: 90px;
    top: 95px;
  }
}


/*========= レイアウトのためのCSS ===============*/