@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-products {
  margin-top: 10rem;
  .c-title--section {
    filter: drop-shadow(0px 10px 50px rgba(42, 117, 180, 0.1));
  } 
  .title {
    text-align: center;
    color: v.$TextWhite;
    filter: drop-shadow(0px 10px 9px rgba(42, 117, 180,));
  }
  &__swiper {
    .swiper-wrapper {
      .swiper-slide {
        &:first-of-type {
          background-color: white;
        }
        &:nth-of-type(2) {
          background-color: rgba($color: black, $alpha: 0.5);
        }
        &:nth-of-type(3) {
          background-color: rgba($color: blue, $alpha: 0.5);
        }
        &:nth-of-type(4) {
          background-color: rgba($color: purple, $alpha: 0.5);
        }
        &:nth-of-type(5) {
          background-color: rgba($color: pink, $alpha: 0.5);
        }
        &:nth-of-type(6) {
          background-color: rgba($color: red, $alpha: 0.5);
        }
      }
      padding: 4rem 0 3rem 0;
      .img {
        display: block;
        width: 90%;
        margin: 0.5rem auto 0 auto;
        aspect-ratio: 4 / 3;
        background: rgba($color: #ffffff, $alpha: 0.7) 0% / cover;
      }
      .card {
        display: flex;
        flex-direction: column;
      }
      &-button {
        &-prev, 
        &-next {
          top: 0%;
          &::before {
            top: -10rem;
          }
        }
      }
    }
  }
  &__description {
    height: 10rem;
  }
}

