@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-skill {
  margin-top: 10rem;
  padding: 0 2.5rem;
  color: v.$TextWhite;

  .c-title--section {
    filter: drop-shadow(0px 10px 50px rgba(42, 117, 180, 0.1));
  }

  .c-text--sentence {
    filter: drop-shadow(0px 10px 15px rgba(42, 117, 180, 1));
  }

  .title {
    text-align: center;
    color: v.$TextWhite;
    filter: drop-shadow(0px 10px 15px rgba(42, 117, 180, ));
    &__sub {
      text-align: unset;
      letter-spacing: 1.5px;
      line-height: 1.75;
      border-bottom: solid;
      padding: 3rem 0 0.5rem 0;
      margin-bottom: 3rem;
      font-size: 1.2rem;
      color: v.$TextWhite;
      filter: drop-shadow(0px 10px 15px rgba(42, 117, 180, ));
    }
  }

  .cell {
    display: flex;
    flex-wrap: wrap;

    &__li {
      width: 100%;
      padding-top: 5rem;
      &.first {
        padding-top: 2rem;
      }

      .title {
        text-align: center;
        padding: 2rem 0 1rem;
        color: v.$TextWhite;

        filter: drop-shadow(0px 10px 15px rgba(42, 117, 180, ));
      }

      .img {
        img {
          height: auto;
          width: 100%;
          aspect-ratio: 1.7 / 1;
          margin: auto;
        }
      }

      .hour {
        display: flex;
        justify-content: center;

        &__description {
          font-size: 1rem;
          line-height: 1rem;
          padding-top: 0.5rem;
          color: v.$TextWhite;
          filter: drop-shadow(0px 10px 15px rgba(42, 117, 180, ));
        }

        &__length {
          font-size: 2rem;
          color: v.$TextWhite;
          filter: drop-shadow(0px 10px 15px rgba(42, 117, 180, ));
        }
      }
    }

    .detail {
      font-size: 1rem;
      color: v.$TextWhite;
      padding-left: 0.5rem;
      filter: drop-shadow(0px 10px 15px rgba(42, 117, 180, ));
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      li {
        padding: 0.25rem 0;
        display: flex;
      }
    }
  }

  &__link {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem 2rem 5rem 2rem;
    color: v.$TextWhite;
    filter: drop-shadow(0px 10px 15px rgba(42, 117, 180, ));
  }
}