@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.swiper {
  &-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    .img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.card {
  &-body {
    height: 10rem;
  }

  &-inner {
    margin: 1rem 0.5rem;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
  }

  &-text {
    height: 7rem;
    width: 5rem;

  }
}

.swiper-concept {
  width: 100vw;
  height: 100vh;

  .swiper-slide {
    height: 100%;
    width: auto;

    .slide-0,
    .slide-1,
    .slide-2,
    .slide-3 {
      position: relative;
      height: 100%;
    }
  }

  .swiper-pagination {
    position: fixed;

    &-bullet {
      rotate: 90deg;
    }
  }

  .swiper {
    &-button {

      &-prev,
      &-next {
        &::before {
          position: relative;
          font-family: FontAwesome;
          background: rgba(255, 255, 255, 0.3);
          padding: 8px 12px;

          @include m.mq (screen012) {
            opacity: 1;
          }
        }
      }

      &-prev {
        left: 50%;
        top: 15%;
        rotate: 90deg;

        &::before {
          content: "\f104";
        }
      }

      &-next {
        right: 48%;
        top: 90%;
        rotate: 90deg;

        &::before {
          content: "\f105";
        }
      }
    }
  }
}