@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.c-space-narrow {
  width: 50vw;
  transform: translateX(50%);

  @include m.mq(screen012) {
    transform: translateX(0);
    width: 400px;
  }
}