@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.wp-block-media-text {

  display: flex;

  .wp-block {
    &-media {
      &-text {
        &__content {
          padding: 0;
          width: 45vw;

          @include m.mq (screen012) {
            width: 50%;
          }
        }

        &__media {
          height: 5rem;
          width: 5rem;
          margin: auto;
          width: 45vw;

          @include m.mq (screen012) {
            width: 50%;
          }

          img {
            padding: 0 2rem;
          }
        }
      }
    }
  }
}

.wp-block-gallery {
  &.has-nested-images {
    display: flex;

    &.is-cropped figure.wp-block-image {
      max-width: 100%;
      box-sizing: border-box;

      &:not(#individual-image) {
        flex-direction: row;
        flex-grow: unset;

        img {
          width: unset;
          flex: unset;
          height: unset;
          object-fit: unset;
        }
      }
    }
  }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border: solid 3px;
  background-color: honeydew;
  border-color: #ffb900;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #46b450;
  background-color: honeydew;
  ;
}

.wpcf7-not-valid-tip {
  color: #dc3232;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  border-bottom: solid 1px;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.wp-block-post-template {
  margin: 1rem;

  >li {
    margin: 3rem 0;
  }

  .wp-block-post-title {
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}

.is-layout-flex {
  justify-content: center;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
  padding: 1rem;

  li {
    padding: 0.5rem 0;
  }
}

.widget.widget_block.widget_categories {
  padding: 1rem;
}

.widget.widget_block.widget_media_image {
  width: 50%;
  margin: auto;
  padding-top: 1rem;
}

.wp-block-preformatted {
  padding: 0 1rem;
}

//アーカイブ・検索
.wp-block-post-template.wp-block-post-template {
  &>li {
    margin: 0;
    padding: 3rem 0;

    &:nth-of-type(odd) {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }

  .wp-block-post-title {
    padding-bottom: 0.5rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transform: scale(1.01);
      transition: all 0.5s;
    }
  }

  .wp-block-post-excerpt {
    padding: 0 0.5rem;
  }
}

.wp-block-column {
  &.containsImg {
    position: relative;

    .wp-block-read-more {
      display: none;
      opacity: 0;
    }

    &:active {
      transform: scale(1.02);
      transition: all 0.3s;
      filter: drop-shadow(10px 5px 5px rgba($color: #000000, $alpha: 0.2)) blur(1px);
    }

    @include m.mq (screen011) {
      &:active {
        transform: unset;
        filter: unset;
      }

      .wp-block-read-more {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.2s;
      }

      &:hover {
        img {
          transform: scale(1.02);
          transition: all 0.3s;
          filter: drop-shadow(10px 5px 5px rgba($color: #000000, $alpha: 0.2)) blur(1px);
        }

        .wp-block-read-more {
          opacity: 1;
          transition: all 0.5s;
        }
      }
    }
  }
}