@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-intro {
  &__logo {
    margin-top: 20rem;
    img {
      width: 11rem;
    }
    .c-text--sentence {
      text-align: center;
      margin-top: -1rem;
    }
    &--is-404 {
      margin: 0 auto;
      width: 10rem;
      .c-text--sentence {
        text-align: center;
        margin-top: -1rem;
      }
    }
  }
  &__button-special {
    position: relative;
    display: block;
    margin: 15rem 1rem 1rem 1rem;
    padding: 2rem 0 2rem 0;
    &--wrap {
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
      height: 100%;
      margin: auto;
    }
  }
}
