@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.u-arrow-scroll {
  p {
    writing-mode: horizontal-tb;
  }
  rotate: 90deg;
  position: absolute;
  bottom: 15vh;
  left: 20%;
  z-index: 1;

  &__inner {
    font-size: 16px;
    color: #fff;
    font-family: v.$Vertical;
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      /*絶対配置で下線の位置を決める*/
      position: absolute;
      bottom: 0;
      left: 115%;
      /*下線の形状*/
      width: 110%;
      height: 1px;
      background: #fff;
      /*アニメーションの指定*/
      animation: toBottomA 2s infinite;
    }

    &::after {
      content: '';
      /*絶対配置で矢印の位置を決める*/
      position: absolute;
      bottom: 3px;
      left: 200%;
      /*矢印の形状*/
      width: 10px;
      height: 1px;
      background: #fff;
      transform: rotate(35deg);
      /*アニメーションの指定*/
      animation: toBottomB 2s infinite;
    }
  }
}

@keyframes toBottomA {
  0% {
    width: 0;
    opacity: 0
  }

  20% {
    width: 0;
    opacity: 0
  }

  80% {
    width: 100%;
    opacity: 1
  }

  100% {
    width: 100%;
    opacity: 0
  }
}

@keyframes toBottomB {
  0% {
    left: 100%;
    opacity: 0
  }

  20% {
    left: 100%;
    opacity: 0
  }

  80% {
    left: 200%;
    opacity: 1
  }

  100% {
    left: 200%;
    opacity: 0
  }
}